@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #f7fbfe;
    color: var(--primary);
    font-family: "Plus Jakarta Sans", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary: #0d1025;
    --primary-dark: #00010a;
    --gray: #e3e3e3;

    --font-heading: "Encode Sans", sans-serif;
}
